* {
    margin: 0;
    padding: 0;
    /* border: 1px solid turquoise; */
}

html,
body {
    width: 100%;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */


h1 {
    font-size: 2.6rem;
}

p {
    font-size: 1.5rem;
}

body {
    color: white;

    background: #00FF00;
    background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);

    display: grid;

    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* cursor: default; */
}

a {
    color: greenyellow;
}

header,
footer,
#hamburger-menu {

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}


#title,
.title__icon {
    --header-color: greenyellow;
    color: var(--header-color);
    font-size: 2.9rem;

    background: transparent;
    text-decoration: none;
    border: 0;
    padding: 0;
    cursor: pointer;

    font-weight: 700;
    text-decoration: none;

    display: inline-flex;
    width: max-content;

    position: relative;


    &:hover {
        color: color-mix(in srgb, var(--header-color) 50%, white);
    }

    &:active {
        color: white;

        /* -webkit-filter: invert(100%);
            filter: invert(100%); */
    }
}

#title {
    /* this font would be used if it was a button element, but I changed it to an a  
    and to still have the same font this is here */
    font-family: "MS Shell Dlg 2", Tahoma, system-ui, -apple-system, sans-serif;
}

#title:hover {
    transform: translateY(-2.5px);
}

.title__icon {
    position: fixed;
    right: 0;
    padding-right: 2%;
    top: 50%;
    transform: translateY(-50%)
        /* rotate(0deg)*/
    ;

    /* transition: transform 0.2s ease-in-out, opacity 0.25s ease-out; */

}


/* #title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 2px;
    background-color: greenyellow;
    transform: translateY(-5px);
    transition: width 0.25s ease-out;
}

#title:hover::after {
    width: 100%;
} */


#hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    position: fixed;
    left: 0;
    right: 0;

    border-top: 0.1rem solid black;
    /* under header */
    z-index: 9;

    /* for smooth movment */
    transition: transform 0.7s ease-in-out;
}

.hamburger-menu__link {
    font-size: 2rem;
}

.hamburger-menu__overlay {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;


    opacity: 0;
    visibility: hidden;
    background-color: black;

    --animation-duration: 0.2s;
    transition: opacity var(--animation-duration) ease-in-out;

}


.main__title {
    text-align: center;
    margin-top: 1%;
}

.main__title__description {
    text-align: center;
}