* {
    margin: 0;
    padding: 0;
    /* border: 1px solid turquoise; */
}

html,
body {
    width: 100%;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

body {
    color: white;

    background: #00FF00;
    background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);

    display: grid;

    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    color: greenyellow;
}

header,
footer,
.hamburger-menu {

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

header {
    text-align: center;
    position: sticky;
    top: 0;


    .title {
        --header-color: greenyellow;
        color: var(--header-color);
        font-size: 2.5rem;

        background: transparent;
        text-decoration: none;
        border: 0;
        padding: 0;
        cursor: pointer;

        font-weight: 700;
        width: 100dvw;
        text-decoration: none;

        display: inline-flex;
        width: max-content;



        &:hover {
            color: color-mix(in srgb, var(--header-color) 50%, white);
            transform: translateY(-2.5px);
        }

        &:active {
            color: white;

            /* -webkit-filter: invert(100%);
            filter: invert(100%); */

            /* transform: translateY(calc(50dvh - 50%)); */
        }
    }
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    text-align: center;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    border-top: 0.2rem solid black;
    /* display: none; */
    z-index: 10;
}

.hamburger-menu__link {
    font-size: 2rem;
}