* {
    margin: 0;
    padding: 0;
    /* border: 1px solid turquoise; */
}

html,
body {
    width: 100%;
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

body {
    color: white;

    background: #00FF00;
    background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);

    display: grid;

    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    header,
    footer {

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.19);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.7px);
        -webkit-backdrop-filter: blur(5.7px);

    }
}

a {
    color: greenyellow;
}

header {
    text-align: center;


    .title {
        color: greenyellow;
        font-size: 1cm;

        font-weight: 700;
        width: 100vw;
        text-decoration: none;


    }
}